USE [master]
GO
/****** Object:  Database [ECommerceDB]    Script Date: 18-Jun-26 3:14:34 PM ******/
CREATE DATABASE [ECommerceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ECommerceDB', FILENAME = N'E:\SQL_DATABASE\MSSQL16.SQLEXPRESS\MSSQL\DATA\ECommerceDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ECommerceDB_log', FILENAME = N'E:\SQL_DATABASE\MSSQL16.SQLEXPRESS\MSSQL\DATA\ECommerceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ECommerceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ECommerceDB]
GO
/****** Object:  Schema [auth]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE SCHEMA [auth]
GO
/****** Object:  Schema [catalog]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE SCHEMA [catalog]
GO
/****** Object:  Schema [operations]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE SCHEMA [operations]
GO
/****** Object:  Schema [orders]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE SCHEMA [orders]
GO
/****** Object:  Schema [payment]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE SCHEMA [payment]
GO
/****** Object:  Schema [promotions]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE SCHEMA [promotions]
GO
/****** Object:  Schema [reviews]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE SCHEMA [reviews]
GO
/****** Object:  Schema [sales]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE SCHEMA [sales]
GO
/****** Object:  Table [reviews].[reviews]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reviews].[reviews](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[product_id] [bigint] NOT NULL,
	[bill_detail_id] [bigint] NOT NULL,
	[rating] [tinyint] NOT NULL,
	[title] [nvarchar](255) NULL,
	[content] [nvarchar](max) NULL,
	[is_verified_purchase] [bit] NOT NULL,
	[helpful_count] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_reviews] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [catalog].[product_types]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[product_types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[slug] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[parent_id] [int] NULL,
	[image_url] [nvarchar](1000) NULL,
	[is_active] [bit] NOT NULL,
	[sort_order] [int] NOT NULL,
 CONSTRAINT [PK_product_types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalog].[collections]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[collections](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[slug] [nvarchar](150) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[banner_url] [nvarchar](1000) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_collections] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalog].[products]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[products](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[slug] [nvarchar](255) NOT NULL,
	[product_type_id] [int] NOT NULL,
	[collection_id] [int] NULL,
	[supplier_id] [int] NULL,
	[description] [nvarchar](max) NULL,
	[short_description] [nvarchar](500) NULL,
	[base_price] [decimal](15, 2) NOT NULL,
	[thumbnail_url] [nvarchar](1000) NULL,
	[is_active] [bit] NOT NULL,
	[is_featured] [bit] NOT NULL,
	[sold_count] [int] NOT NULL,
	[view_count] [int] NOT NULL,
	[deleted_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[manufacturer_id] [int] NULL,
	[download_url] [nvarchar](1000) NULL,
	[is_digital] [bit] NOT NULL,
	[is_rental] [bit] NOT NULL,
	[rental_price_length] [int] NULL,
	[rental_price_period] [nvarchar](20) NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [catalog].[product_variants]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[product_variants](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NOT NULL,
	[size] [nvarchar](20) NULL,
	[color] [nvarchar](50) NULL,
	[sku] [nvarchar](120) NOT NULL,
	[price] [decimal](15, 2) NOT NULL,
	[sale_price] [decimal](15, 2) NULL,
	[stock_quantity] [int] NOT NULL,
	[weight_gram] [int] NULL,
	[image_url] [nvarchar](1000) NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_product_variants] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [catalog].[vw_products_summary]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
-- VIEWS
-- ============================================================

-- VIEW_1: Sản phẩm với đánh giá trung bình và số lượng tồn kho tổng
CREATE   VIEW [catalog].[vw_products_summary] AS
SELECT
    p.id,
    p.name,
    p.slug,
    p.base_price,
    p.thumbnail_url,
    p.is_featured,
    p.sold_count,
    pt.name                                         AS product_type_name,
    c.name                                          AS collection_name,
    COUNT(DISTINCT pv.id)                           AS variant_count,
    SUM(pv.stock_quantity)                          AS total_stock,
    MIN(ISNULL(pv.sale_price, pv.price))            AS min_price,
    MAX(ISNULL(pv.sale_price, pv.price))            AS max_price,
    COUNT(DISTINCT rv.id)                           AS review_count,
    CAST(AVG(CAST(rv.rating AS FLOAT)) AS DECIMAL(3,2)) AS avg_rating
FROM catalog.products p
INNER JOIN catalog.product_types pt     ON p.product_type_id = pt.id
LEFT  JOIN catalog.collections c        ON p.collection_id   = c.id
LEFT  JOIN catalog.product_variants pv  ON p.id = pv.product_id AND pv.is_active = 1
LEFT  JOIN reviews.reviews rv           ON p.id = rv.product_id AND rv.status = 'approved'
WHERE p.deleted_at IS NULL AND p.is_active = 1
GROUP BY p.id, p.name, p.slug, p.base_price, p.thumbnail_url,
         p.is_featured, p.sold_count, pt.name, c.name;

GO
/****** Object:  Table [orders].[bills]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [orders].[bills](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_code] [nvarchar](30) NOT NULL,
	[user_id] [bigint] NULL,
	[guest_email] [nvarchar](255) NULL,
	[receiver_name] [nvarchar](100) NOT NULL,
	[receiver_phone] [nvarchar](20) NOT NULL,
	[shipping_address_full] [nvarchar](max) NOT NULL,
	[subtotal] [decimal](15, 2) NOT NULL,
	[shipping_fee] [decimal](15, 2) NOT NULL,
	[discount_amount] [decimal](15, 2) NOT NULL,
	[tax_amount] [decimal](15, 2) NOT NULL,
	[total_amount] [decimal](15, 2) NOT NULL,
	[payment_method] [nvarchar](20) NOT NULL,
	[payment_status] [nvarchar](20) NOT NULL,
	[order_status] [nvarchar](20) NOT NULL,
	[coupon_code] [nvarchar](50) NULL,
	[note] [nvarchar](1000) NULL,
	[cancelled_reason] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_bills] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [orders].[bill_details]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [orders].[bill_details](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[bill_id] [bigint] NOT NULL,
	[product_variant_id] [bigint] NOT NULL,
	[product_name_snapshot] [nvarchar](255) NOT NULL,
	[size_snapshot] [nvarchar](20) NULL,
	[color_snapshot] [nvarchar](50) NULL,
	[sku_snapshot] [nvarchar](120) NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](15, 2) NOT NULL,
	[total_price] [decimal](15, 2) NOT NULL,
 CONSTRAINT [PK_bill_details] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [auth].[users]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](500) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[avatar_url] [nvarchar](1000) NULL,
	[role] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[email_verified_at] [datetime2](7) NULL,
	[last_login_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[Company] [nvarchar](max) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[FirstName] [nvarchar](max) NULL,
	[IpAddress] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[ZipPostalCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [payment].[shipments]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [payment].[shipments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[bill_id] [bigint] NOT NULL,
	[carrier] [nvarchar](50) NOT NULL,
	[tracking_code] [nvarchar](100) NULL,
	[status] [nvarchar](50) NOT NULL,
	[estimated_delivery] [date] NULL,
	[carrier_fee] [decimal](15, 2) NULL,
	[shipped_at] [datetime2](7) NULL,
	[delivered_at] [datetime2](7) NULL,
 CONSTRAINT [PK_shipments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [orders].[vw_bills_detail]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- VIEW_2: Đơn hàng kèm thông tin người dùng và thanh toán
CREATE   VIEW [orders].[vw_bills_detail] AS
SELECT
    b.id                AS bill_id,
    b.order_code,
    b.created_at        AS order_date,
    b.order_status,
    b.payment_status,
    b.payment_method,
    b.total_amount,
    b.discount_amount,
    b.shipping_fee,
    b.receiver_name,
    b.receiver_phone,
    u.email             AS customer_email,
    u.full_name         AS customer_name,
    COUNT(bd.id)        AS item_count,
    SUM(bd.quantity)    AS total_quantity,
    s.carrier           AS shipping_carrier,
    s.tracking_code,
    s.status            AS shipment_status
FROM orders.bills b
LEFT JOIN auth.users            u   ON b.user_id = u.id
LEFT JOIN orders.bill_details   bd  ON b.id = bd.bill_id
LEFT JOIN payment.shipments     s   ON b.id = s.bill_id
GROUP BY b.id, b.order_code, b.created_at, b.order_status, b.payment_status,
         b.payment_method, b.total_amount, b.discount_amount, b.shipping_fee,
         b.receiver_name, b.receiver_phone, u.email, u.full_name,
         s.carrier, s.tracking_code, s.status;

GO
/****** Object:  View [operations].[vw_top_selling_products]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- VIEW_3: Top sản phẩm bán chạy
CREATE   VIEW [operations].[vw_top_selling_products] AS
SELECT TOP 100
    p.id,
    p.name,
    p.thumbnail_url,
    pt.name                     AS product_type,
    SUM(bd.quantity)            AS units_sold,
    SUM(bd.total_price)         AS revenue,
    COUNT(DISTINCT bd.bill_id)  AS order_count
FROM orders.bill_details bd
INNER JOIN catalog.product_variants pv  ON bd.product_variant_id = pv.id
INNER JOIN catalog.products p           ON pv.product_id = p.id
INNER JOIN catalog.product_types pt     ON p.product_type_id = pt.id
INNER JOIN orders.bills b               ON bd.bill_id = b.id
WHERE b.order_status = 'delivered'
GROUP BY p.id, p.name, p.thumbnail_url, pt.name
ORDER BY units_sold DESC;

GO
/****** Object:  View [operations].[vw_low_stock_variants]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- VIEW_4: Tồn kho sắp hết (cảnh báo)
CREATE   VIEW [operations].[vw_low_stock_variants] AS
SELECT
    pv.id           AS variant_id,
    pv.sku,
    pv.size,
    pv.color,
    pv.stock_quantity,
    p.id            AS product_id,
    p.name          AS product_name,
    p.thumbnail_url
FROM catalog.product_variants pv
INNER JOIN catalog.products p ON pv.product_id = p.id
WHERE pv.stock_quantity <= 5
  AND pv.is_active = 1
  AND p.deleted_at IS NULL;

GO
/****** Object:  Table [auth].[admin_logs]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[admin_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[admin_id] [bigint] NOT NULL,
	[action] [nvarchar](100) NOT NULL,
	[target_table] [nvarchar](100) NOT NULL,
	[target_id] [bigint] NOT NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_admin_logs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [auth].[password_reset_tokens]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[password_reset_tokens](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[token_hash] [nvarchar](255) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[used_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_password_reset_tokens] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [auth].[user_addresses]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[user_addresses](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[receiver_name] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[province] [nvarchar](100) NOT NULL,
	[district] [nvarchar](100) NOT NULL,
	[ward] [nvarchar](100) NOT NULL,
	[address_detail] [nvarchar](500) NOT NULL,
	[is_default] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_user_addresses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalog].[favorite_products]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[favorite_products](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[product_id] [bigint] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_favorite_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalog].[manufacturers]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[manufacturers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[picture_url] [nvarchar](1000) NULL,
	[is_active] [bit] NOT NULL,
	[sort_order] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_manufacturers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalog].[product_attributes]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[product_attributes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NOT NULL,
	[attribute_name] [nvarchar](100) NOT NULL,
	[attribute_value] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_product_attributes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalog].[product_images]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[product_images](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NOT NULL,
	[image_url] [nvarchar](1000) NOT NULL,
	[alt_text] [nvarchar](255) NULL,
	[sort_order] [int] NOT NULL,
	[is_primary] [bit] NOT NULL,
 CONSTRAINT [PK_product_images] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalog].[product_reviews]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[product_reviews](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[product_id] [bigint] NOT NULL,
	[bill_detail_id] [bigint] NULL,
	[rating] [tinyint] NOT NULL,
	[title] [nvarchar](150) NULL,
	[content] [nvarchar](2000) NOT NULL,
	[is_verified_purchase] [bit] NOT NULL,
	[helpful_count] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_product_reviews] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalog].[product_specifications]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[product_specifications](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NOT NULL,
	[specification_attribute_id] [int] NOT NULL,
	[value] [nvarchar](1000) NOT NULL,
	[sort_order] [int] NOT NULL,
 CONSTRAINT [PK_product_specifications] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalog].[product_tags]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[product_tags](
	[product_id] [bigint] NOT NULL,
	[tag_id] [int] NOT NULL,
 CONSTRAINT [PK_product_tags] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalog].[specification_attributes]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[specification_attributes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[sort_order] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_specification_attributes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalog].[suppliers]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[suppliers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](150) NULL,
	[phone] [nvarchar](20) NULL,
	[address] [nvarchar](500) NULL,
	[country] [nvarchar](100) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_suppliers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalog].[tags]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[tags](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[slug] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_tags] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [operations].[banners]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [operations].[banners](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image_url] [nvarchar](1000) NOT NULL,
	[link_url] [nvarchar](1000) NULL,
	[title] [nvarchar](255) NULL,
	[position] [nvarchar](50) NOT NULL,
	[is_active] [bit] NOT NULL,
	[sort_order] [int] NOT NULL,
 CONSTRAINT [PK_banners] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [operations].[inventory_transactions]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [operations].[inventory_transactions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_variant_id] [bigint] NOT NULL,
	[type] [nvarchar](20) NOT NULL,
	[quantity_change] [int] NOT NULL,
	[stock_before] [int] NOT NULL,
	[stock_after] [int] NOT NULL,
	[reference_id] [bigint] NULL,
	[note] [nvarchar](500) NULL,
	[created_by] [bigint] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_inventory_transactions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [operations].[notifications]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [operations].[notifications](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[is_read] [bit] NOT NULL,
	[link] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_notifications] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [operations].[settings]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [operations].[settings](
	[key] [nvarchar](100) NOT NULL,
	[value] [nvarchar](max) NOT NULL,
	[description] [nvarchar](500) NULL,
	[group_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_settings] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [operations].[wishlists]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [operations].[wishlists](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[product_id] [bigint] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_wishlists] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [orders].[cart_items]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [orders].[cart_items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[cart_id] [bigint] NOT NULL,
	[product_variant_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
	[price_snapshot] [decimal](15, 2) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[product_name_snapshot] [nvarchar](255) NULL,
	[image_url_snapshot] [nvarchar](1000) NULL,
	[sku_snapshot] [nvarchar](120) NULL,
	[size_snapshot] [nvarchar](20) NULL,
	[color_snapshot] [nvarchar](50) NULL,
 CONSTRAINT [PK_cart_items] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [orders].[carts]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [orders].[carts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[session_token] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_carts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [orders].[order_status_logs]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [orders].[order_status_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[bill_id] [bigint] NOT NULL,
	[from_status] [nvarchar](50) NULL,
	[to_status] [nvarchar](50) NOT NULL,
	[note] [nvarchar](500) NULL,
	[created_by] [bigint] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_order_status_logs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [payment].[payment_transactions]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [payment].[payment_transactions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[bill_id] [bigint] NOT NULL,
	[gateway] [nvarchar](50) NOT NULL,
	[transaction_code] [nvarchar](255) NULL,
	[amount] [decimal](15, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[gateway_response] [nvarchar](max) NULL,
	[paid_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_payment_transactions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [promotions].[coupon_usages]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [promotions].[coupon_usages](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coupon_id] [int] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[bill_id] [bigint] NOT NULL,
	[discount_applied] [decimal](15, 2) NOT NULL,
	[used_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_coupon_usages] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [promotions].[coupons]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [promotions].[coupons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[type] [nvarchar](20) NOT NULL,
	[value] [decimal](10, 2) NOT NULL,
	[min_order_value] [decimal](15, 2) NOT NULL,
	[max_discount_amount] [decimal](15, 2) NULL,
	[usage_limit] [int] NULL,
	[used_count] [int] NOT NULL,
	[start_date] [datetime2](7) NOT NULL,
	[end_date] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_coupons] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [promotions].[flash_sale_items]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [promotions].[flash_sale_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[flash_sale_id] [int] NOT NULL,
	[product_variant_id] [bigint] NOT NULL,
	[sale_price] [decimal](15, 2) NOT NULL,
	[quantity_limit] [int] NULL,
	[sold_count] [int] NOT NULL,
 CONSTRAINT [PK_flash_sale_items] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [promotions].[flash_sales]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [promotions].[flash_sales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[start_time] [datetime2](7) NOT NULL,
	[end_time] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_flash_sales] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [reviews].[review_images]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reviews].[review_images](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[review_id] [bigint] NOT NULL,
	[image_url] [nvarchar](1000) NOT NULL,
	[sort_order] [int] NOT NULL,
 CONSTRAINT [PK_review_images] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [reviews].[review_replies]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reviews].[review_replies](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[review_id] [bigint] NOT NULL,
	[admin_id] [bigint] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_review_replies] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [sales].[checkout_attribute_values]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sales].[checkout_attribute_values](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[checkout_attribute_id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[price_adjustment] [decimal](15, 2) NOT NULL,
	[is_preselected] [bit] NOT NULL,
	[sort_order] [int] NOT NULL,
 CONSTRAINT [PK_checkout_attribute_values] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sales].[checkout_attributes]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sales].[checkout_attributes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[control_type] [nvarchar](50) NOT NULL,
	[is_required] [bit] NOT NULL,
	[sort_order] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_checkout_attributes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sales].[coupons]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sales].[coupons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[type] [nvarchar](20) NOT NULL,
	[value] [decimal](18, 2) NOT NULL,
	[min_order_value] [decimal](18, 2) NOT NULL,
	[max_discount_amount] [decimal](18, 2) NULL,
	[usage_limit] [int] NULL,
	[used_count] [int] NOT NULL,
	[start_date] [datetime2](7) NOT NULL,
	[end_date] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_coupons] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [auth].[user_addresses] ON 

INSERT [auth].[user_addresses] ([id], [user_id], [receiver_name], [phone], [province], [district], [ward], [address_detail], [is_default], [created_at]) VALUES (1, 1, N'Nguyễn Văn A', N'0123456789', N'HCM', N'Quận 1', N'Bến Nghé', N'123 Lê Lợi', 1, CAST(N'2026-04-27T12:30:29.7266667' AS DateTime2))
SET IDENTITY_INSERT [auth].[user_addresses] OFF
GO
SET IDENTITY_INSERT [auth].[users] ON 

INSERT [auth].[users] ([id], [email], [password_hash], [phone], [full_name], [avatar_url], [role], [status], [email_verified_at], [last_login_at], [deleted_at], [created_at], [updated_at], [Company], [DateOfBirth], [FirstName], [IpAddress], [LastName], [ZipPostalCode]) VALUES (4, N'admin@basecore.local', N'admin123', N'0900000001', N'BaseCore Admin', NULL, N'admin', N'active', CAST(N'2026-04-27T13:14:52.1564332' AS DateTime2), NULL, NULL, CAST(N'2026-04-27T13:14:52.1564332' AS DateTime2), CAST(N'2026-04-27T13:14:52.1564332' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [auth].[users] ([id], [email], [password_hash], [phone], [full_name], [avatar_url], [role], [status], [email_verified_at], [last_login_at], [deleted_at], [created_at], [updated_at], [Company], [DateOfBirth], [FirstName], [IpAddress], [LastName], [ZipPostalCode]) VALUES (5, N'customer@basecore.local', N'customer123', N'0900000002', N'Demo Customer', NULL, N'customer', N'active', CAST(N'2026-04-27T13:14:52.1564332' AS DateTime2), NULL, NULL, CAST(N'2026-04-27T13:14:52.1564332' AS DateTime2), CAST(N'2026-04-27T13:14:52.1564332' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [auth].[users] OFF
GO
SET IDENTITY_INSERT [catalog].[favorite_products] ON 

INSERT [catalog].[favorite_products] ([id], [user_id], [product_id], [created_at]) VALUES (4, 1, 21, CAST(N'2026-06-10T08:54:58.7662547' AS DateTime2))
INSERT [catalog].[favorite_products] ([id], [user_id], [product_id], [created_at]) VALUES (5, 1, 20, CAST(N'2026-06-10T08:54:59.7065829' AS DateTime2))
INSERT [catalog].[favorite_products] ([id], [user_id], [product_id], [created_at]) VALUES (6, 2, 920, CAST(N'2026-06-18T08:59:59.2933875' AS DateTime2))
SET IDENTITY_INSERT [catalog].[favorite_products] OFF
GO
SET IDENTITY_INSERT [catalog].[manufacturers] ON 

INSERT [catalog].[manufacturers] ([id], [name], [description], [picture_url], [is_active], [sort_order], [created_at], [updated_at]) VALUES (2, N'Sony', N'', N'', 1, 0, CAST(N'2026-06-18T10:09:37.4552955' AS DateTime2), CAST(N'2026-06-18T10:09:37.4554556' AS DateTime2))
SET IDENTITY_INSERT [catalog].[manufacturers] OFF
GO
SET IDENTITY_INSERT [catalog].[product_types] ON 

INSERT [catalog].[product_types] ([id], [name], [slug], [description], [parent_id], [image_url], [is_active], [sort_order]) VALUES (84, N'Điện thoại & Máy tính', N'dien-thoai-may-tinh', N'Sản phẩm Điện thoại & Máy tính chính hãng, cam kết chất lượng tốt nhất thị trường.', NULL, N'https://images.unsplash.com/photo-1468495244123-6c6c332eeece?q=80&w=600', 1, 1)
INSERT [catalog].[product_types] ([id], [name], [slug], [description], [parent_id], [image_url], [is_active], [sort_order]) VALUES (85, N'Thời trang & Giày dép', N'thoi-trang-giay-dep', N'Sản phẩm Thời trang & Giày dép chính hãng, cam kết chất lượng tốt nhất thị trường.', NULL, N'https://images.unsplash.com/photo-1483985988355-763728e1935b?q=80&w=600', 1, 2)
INSERT [catalog].[product_types] ([id], [name], [slug], [description], [parent_id], [image_url], [is_active], [sort_order]) VALUES (86, N'Đồ dùng nhà bếp', N'do-dung-nha-bep', N'Sản phẩm Đồ dùng nhà bếp chính hãng, cam kết chất lượng tốt nhất thị trường.', NULL, N'https://images.unsplash.com/photo-1556911220-e15b29be8c8f?q=80&w=600', 1, 3)
SET IDENTITY_INSERT [catalog].[product_types] OFF
GO
SET IDENTITY_INSERT [catalog].[product_variants] ON 

INSERT [catalog].[product_variants] ([id], [product_id], [size], [color], [sku], [price], [sale_price], [stock_quantity], [weight_gram], [image_url], [is_active]) VALUES (1029, 1027, NULL, NULL, N'84c9a163714447c28a5dcab091ee5022', CAST(29990000.00 AS Decimal(15, 2)), NULL, 72, NULL, NULL, 1)
INSERT [catalog].[product_variants] ([id], [product_id], [size], [color], [sku], [price], [sale_price], [stock_quantity], [weight_gram], [image_url], [is_active]) VALUES (1030, 1028, NULL, NULL, N'0e6bf0d154b445409e7beda70db70858', CAST(34500000.00 AS Decimal(15, 2)), NULL, 32, NULL, NULL, 1)
INSERT [catalog].[product_variants] ([id], [product_id], [size], [color], [sku], [price], [sale_price], [stock_quantity], [weight_gram], [image_url], [is_active]) VALUES (1031, 1029, NULL, NULL, N'77aa5f0fde6047338a6e3431148cd972', CAST(39990000.00 AS Decimal(15, 2)), NULL, 95, NULL, NULL, 1)
GO
SET IDENTITY_INSERT [catalog].[product_variants] OFF
GO
SET IDENTITY_INSERT [catalog].[products] ON 

SET IDENTITY_INSERT [catalog].[products] OFF
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260527055806_AddFavoriteProducts', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260601090000_AddProductReviews', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260614173419_AddCouponsTable', N'8.0.8')
GO
SET IDENTITY_INSERT [orders].[bill_details] ON 

INSERT [orders].[bill_details] ([id], [bill_id], [product_variant_id], [product_name_snapshot], [size_snapshot], [color_snapshot], [sku_snapshot], [quantity], [unit_price], [total_price]) VALUES (1782, 1153, 1054, N'Balo Du Lịch Phượt Chống Nước Oxford - Màu Xanh Dương (Size M)', NULL, NULL, N'de5383229a444de6b6f60cf41c5f5024', 1, CAST(750000.00 AS Decimal(15, 2)), CAST(750000.00 AS Decimal(15, 2)))
INSERT [orders].[bill_details] ([id], [bill_id], [product_variant_id], [product_name_snapshot], [size_snapshot], [color_snapshot], [sku_snapshot], [quantity], [unit_price], [total_price]) VALUES (1783, 1154, 1060, N'Loa Bluetooth Marshall Acton III retro - Xanh Dương (256GB)', NULL, NULL, N'df79a74158724380aca89e4015b6d7fb', 1, CAST(6200000.00 AS Decimal(15, 2)), CAST(6200000.00 AS Decimal(15, 2)))
INSERT [orders].[bill_details] ([id], [bill_id], [product_variant_id], [product_name_snapshot], [size_snapshot], [color_snapshot], [sku_snapshot], [quantity], [unit_price], [total_price]) VALUES (1784, 1155, 1029, N'iPhone 15 Pro Max 256GB Titanium', NULL, NULL, N'84c9a163714447c28a5dcab091ee5022', 1, CAST(29990000.00 AS Decimal(15, 2)), CAST(29990000.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [orders].[bill_details] OFF
GO
SET IDENTITY_INSERT [orders].[bills] ON 

SET IDENTITY_INSERT [orders].[bills] OFF
GO
SET IDENTITY_INSERT [orders].[carts] ON 

INSERT [orders].[carts] ([id], [user_id], [session_token], [created_at], [updated_at]) VALUES (56, 4, NULL, CAST(N'2026-06-18T14:59:32.2108158' AS DateTime2), CAST(N'2026-06-18T14:59:32.2108159' AS DateTime2))
INSERT [orders].[carts] ([id], [user_id], [session_token], [created_at], [updated_at]) VALUES (57, 645, NULL, CAST(N'2026-06-18T15:02:00.5138357' AS DateTime2), CAST(N'2026-06-18T15:04:45.8032276' AS DateTime2))
SET IDENTITY_INSERT [orders].[carts] OFF
GO
/****** Object:  Index [IX_admin_logs_admin_id]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_admin_logs_admin_id] ON [auth].[admin_logs]
(
	[admin_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_user_addresses_user_id]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_user_addresses_user_id] ON [auth].[user_addresses]
(
	[user_id] ASC
)
INCLUDE([is_default]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_email]    Script Date: 18-Jun-26 3:14:35 PM ******/
ALTER TABLE [auth].[users] ADD  CONSTRAINT [UQ_users_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_users_role_status]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_users_role_status] ON [auth].[users]
(
	[role] ASC,
	[status] ASC
)
INCLUDE([full_name],[email]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_users_email]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_users_email] ON [auth].[users]
(
	[email] ASC
)
WHERE ([deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_collections_slug]    Script Date: 18-Jun-26 3:14:35 PM ******/
ALTER TABLE [catalog].[collections] ADD  CONSTRAINT [UQ_collections_slug] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_favorite_products_product_id]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_favorite_products_product_id] ON [catalog].[favorite_products]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_favorite_products_user_id_product_id]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_favorite_products_user_id_product_id] ON [catalog].[favorite_products]
(
	[user_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_product_reviews_bill_detail_id]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_product_reviews_bill_detail_id] ON [catalog].[product_reviews]
(
	[bill_detail_id] ASC
)
WHERE ([bill_detail_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_product_reviews_product_id]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_product_reviews_product_id] ON [catalog].[product_reviews]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_product_specifications_product_id]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_product_specifications_product_id] ON [catalog].[product_specifications]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_product_specifications_specification_attribute_id]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_product_specifications_specification_attribute_id] ON [catalog].[product_specifications]
(
	[specification_attribute_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_product_types_slug]    Script Date: 18-Jun-26 3:14:35 PM ******/
ALTER TABLE [catalog].[product_types] ADD  CONSTRAINT [UQ_product_types_slug] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_product_types_parent_id]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_product_types_parent_id] ON [catalog].[product_types]
(
	[parent_id] ASC
)
WHERE ([parent_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_product_variants_sku]    Script Date: 18-Jun-26 3:14:35 PM ******/
ALTER TABLE [catalog].[product_variants] ADD  CONSTRAINT [UQ_product_variants_sku] UNIQUE NONCLUSTERED 
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_product_variants_product_id]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_product_variants_product_id] ON [catalog].[product_variants]
(
	[product_id] ASC
)
INCLUDE([sku],[price],[sale_price],[stock_quantity]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_products_slug]    Script Date: 18-Jun-26 3:14:35 PM ******/
ALTER TABLE [catalog].[products] ADD  CONSTRAINT [UQ_products_slug] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_products_collection]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_products_collection] ON [catalog].[products]
(
	[collection_id] ASC
)
WHERE ([collection_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_products_featured]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_products_featured] ON [catalog].[products]
(
	[is_featured] ASC,
	[is_active] ASC
)
WHERE ([deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_products_manufacturer_id]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_products_manufacturer_id] ON [catalog].[products]
(
	[manufacturer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_products_type_active]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_products_type_active] ON [catalog].[products]
(
	[product_type_id] ASC,
	[is_active] ASC
)
INCLUDE([name],[base_price],[thumbnail_url]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tags_slug]    Script Date: 18-Jun-26 3:14:35 PM ******/
ALTER TABLE [catalog].[tags] ADD  CONSTRAINT [UQ_tags_slug] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_inv_transactions_variant_id]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_inv_transactions_variant_id] ON [operations].[inventory_transactions]
(
	[product_variant_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_notifications_user_unread]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_notifications_user_unread] ON [operations].[notifications]
(
	[user_id] ASC,
	[is_read] ASC
)
INCLUDE([title],[created_at]) 
WHERE ([is_read]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_settings_key]    Script Date: 18-Jun-26 3:14:35 PM ******/
ALTER TABLE [operations].[settings] ADD  CONSTRAINT [UQ_settings_key] UNIQUE NONCLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_wishlists_user_product]    Script Date: 18-Jun-26 3:14:35 PM ******/
ALTER TABLE [operations].[wishlists] ADD  CONSTRAINT [UQ_wishlists_user_product] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bill_details_bill_id]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_bill_details_bill_id] ON [orders].[bill_details]
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bill_details_variant_id]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_bill_details_variant_id] ON [orders].[bill_details]
(
	[product_variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_bills_order_code]    Script Date: 18-Jun-26 3:14:35 PM ******/
ALTER TABLE [orders].[bills] ADD  CONSTRAINT [UQ_bills_order_code] UNIQUE NONCLUSTERED 
(
	[order_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bills_created_at]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_bills_created_at] ON [orders].[bills]
(
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_bills_user_status]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_bills_user_status] ON [orders].[bills]
(
	[user_id] ASC,
	[order_status] ASC
)
INCLUDE([order_code],[total_amount],[created_at]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_cart_items_cart_variant]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_cart_items_cart_variant] ON [orders].[cart_items]
(
	[cart_id] ASC,
	[product_variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_carts_user_id]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_carts_user_id] ON [orders].[carts]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_carts_session_token]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_carts_session_token] ON [orders].[carts]
(
	[session_token] ASC
)
WHERE ([session_token] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_payment_transactions_bill_id]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_payment_transactions_bill_id] ON [payment].[payment_transactions]
(
	[bill_id] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_coupons_code]    Script Date: 18-Jun-26 3:14:35 PM ******/
ALTER TABLE [promotions].[coupons] ADD  CONSTRAINT [UQ_coupons_code] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_reviews_user_bill_detail]    Script Date: 18-Jun-26 3:14:35 PM ******/
ALTER TABLE [reviews].[reviews] ADD  CONSTRAINT [UQ_reviews_user_bill_detail] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[bill_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_reviews_product_status]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_reviews_product_status] ON [reviews].[reviews]
(
	[product_id] ASC,
	[status] ASC
)
INCLUDE([rating],[created_at]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_reviews_user_id]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_reviews_user_id] ON [reviews].[reviews]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_checkout_attribute_values_checkout_attribute_id]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_checkout_attribute_values_checkout_attribute_id] ON [sales].[checkout_attribute_values]
(
	[checkout_attribute_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_coupons_code]    Script Date: 18-Jun-26 3:14:35 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_coupons_code] ON [sales].[coupons]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [auth].[admin_logs] ADD  CONSTRAINT [DF_admin_logs_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [auth].[password_reset_tokens] ADD  CONSTRAINT [DF_prt_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [auth].[user_addresses] ADD  CONSTRAINT [DF_user_addresses_is_default]  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [auth].[user_addresses] ADD  CONSTRAINT [DF_user_addresses_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [auth].[users] ADD  CONSTRAINT [DF_users_role]  DEFAULT ('customer') FOR [role]
GO
ALTER TABLE [auth].[users] ADD  CONSTRAINT [DF_users_status]  DEFAULT ('unverified') FOR [status]
GO
ALTER TABLE [auth].[users] ADD  CONSTRAINT [DF_users_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [auth].[users] ADD  CONSTRAINT [DF_users_updated_at]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [catalog].[collections] ADD  CONSTRAINT [DF_collections_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [catalog].[product_images] ADD  CONSTRAINT [DF_product_images_sort_order]  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [catalog].[product_images] ADD  CONSTRAINT [DF_product_images_is_primary]  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [catalog].[product_types] ADD  CONSTRAINT [DF_product_types_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [catalog].[product_types] ADD  CONSTRAINT [DF_product_types_sort_order]  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [catalog].[product_variants] ADD  CONSTRAINT [DF_pv_stock_quantity]  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [catalog].[product_variants] ADD  CONSTRAINT [DF_pv_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [catalog].[products] ADD  CONSTRAINT [DF_products_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [catalog].[products] ADD  CONSTRAINT [DF_products_is_featured]  DEFAULT ((0)) FOR [is_featured]
GO
ALTER TABLE [catalog].[products] ADD  CONSTRAINT [DF_products_sold_count]  DEFAULT ((0)) FOR [sold_count]
GO
ALTER TABLE [catalog].[products] ADD  CONSTRAINT [DF_products_view_count]  DEFAULT ((0)) FOR [view_count]
GO
ALTER TABLE [catalog].[products] ADD  CONSTRAINT [DF_products_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [catalog].[products] ADD  CONSTRAINT [DF_products_updated_at]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [catalog].[products] ADD  DEFAULT (CONVERT([bit],(0))) FOR [is_digital]
GO
ALTER TABLE [catalog].[products] ADD  DEFAULT (CONVERT([bit],(0))) FOR [is_rental]
GO
ALTER TABLE [catalog].[suppliers] ADD  CONSTRAINT [DF_suppliers_country]  DEFAULT (N'Vietnam') FOR [country]
GO
ALTER TABLE [catalog].[suppliers] ADD  CONSTRAINT [DF_suppliers_status]  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [catalog].[suppliers] ADD  CONSTRAINT [DF_suppliers_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [operations].[banners] ADD  CONSTRAINT [DF_banners_position]  DEFAULT ('home_top') FOR [position]
GO
ALTER TABLE [operations].[banners] ADD  CONSTRAINT [DF_banners_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [operations].[banners] ADD  CONSTRAINT [DF_banners_sort_order]  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [operations].[inventory_transactions] ADD  CONSTRAINT [DF_inv_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [operations].[notifications] ADD  CONSTRAINT [DF_notifications_is_read]  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [operations].[notifications] ADD  CONSTRAINT [DF_notifications_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [operations].[wishlists] ADD  CONSTRAINT [DF_wishlists_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [orders].[bills] ADD  CONSTRAINT [DF_bills_shipping_fee]  DEFAULT ((0)) FOR [shipping_fee]
GO
ALTER TABLE [orders].[bills] ADD  CONSTRAINT [DF_bills_discount_amount]  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [orders].[bills] ADD  CONSTRAINT [DF_bills_tax_amount]  DEFAULT ((0)) FOR [tax_amount]
GO
ALTER TABLE [orders].[bills] ADD  CONSTRAINT [DF_bills_payment_status]  DEFAULT ('pending') FOR [payment_status]
GO
ALTER TABLE [orders].[bills] ADD  CONSTRAINT [DF_bills_order_status]  DEFAULT ('pending') FOR [order_status]
GO
ALTER TABLE [orders].[bills] ADD  CONSTRAINT [DF_bills_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [orders].[bills] ADD  CONSTRAINT [DF_bills_updated_at]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [orders].[cart_items] ADD  CONSTRAINT [DF_cart_items_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [orders].[cart_items] ADD  CONSTRAINT [DF_cart_items_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [orders].[carts] ADD  CONSTRAINT [DF_carts_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [orders].[carts] ADD  CONSTRAINT [DF_carts_updated_at]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [orders].[order_status_logs] ADD  CONSTRAINT [DF_osl_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [payment].[payment_transactions] ADD  CONSTRAINT [DF_pt_status]  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [payment].[payment_transactions] ADD  CONSTRAINT [DF_pt_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [payment].[shipments] ADD  CONSTRAINT [DF_shipments_status]  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [promotions].[coupon_usages] ADD  CONSTRAINT [DF_coupon_usages_used_at]  DEFAULT (getdate()) FOR [used_at]
GO
ALTER TABLE [promotions].[coupons] ADD  CONSTRAINT [DF_coupons_min_order]  DEFAULT ((0)) FOR [min_order_value]
GO
ALTER TABLE [promotions].[coupons] ADD  CONSTRAINT [DF_coupons_used_count]  DEFAULT ((0)) FOR [used_count]
GO
ALTER TABLE [promotions].[coupons] ADD  CONSTRAINT [DF_coupons_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [promotions].[flash_sale_items] ADD  CONSTRAINT [DF_fsi_sold_count]  DEFAULT ((0)) FOR [sold_count]
GO
ALTER TABLE [promotions].[flash_sales] ADD  CONSTRAINT [DF_flash_sales_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [reviews].[review_images] ADD  CONSTRAINT [DF_review_images_sort]  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [reviews].[review_replies] ADD  CONSTRAINT [DF_review_replies_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [reviews].[reviews] ADD  CONSTRAINT [DF_reviews_verified]  DEFAULT ((1)) FOR [is_verified_purchase]
GO
ALTER TABLE [reviews].[reviews] ADD  CONSTRAINT [DF_reviews_helpful]  DEFAULT ((0)) FOR [helpful_count]
GO
ALTER TABLE [reviews].[reviews] ADD  CONSTRAINT [DF_reviews_status]  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [reviews].[reviews] ADD  CONSTRAINT [DF_reviews_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [auth].[admin_logs]  WITH NOCHECK ADD  CONSTRAINT [FK_admin_logs_users] FOREIGN KEY([admin_id])
REFERENCES [auth].[users] ([id])
GO
ALTER TABLE [auth].[admin_logs] CHECK CONSTRAINT [FK_admin_logs_users]
GO
ALTER TABLE [auth].[password_reset_tokens]  WITH NOCHECK ADD  CONSTRAINT [FK_password_reset_tokens_users] FOREIGN KEY([user_id])
REFERENCES [auth].[users] ([id])
GO
ALTER TABLE [auth].[password_reset_tokens] CHECK CONSTRAINT [FK_password_reset_tokens_users]
GO
ALTER TABLE [auth].[user_addresses]  WITH NOCHECK ADD  CONSTRAINT [FK_user_addresses_users] FOREIGN KEY([user_id])
REFERENCES [auth].[users] ([id])
GO
ALTER TABLE [auth].[user_addresses] CHECK CONSTRAINT [FK_user_addresses_users]
GO
ALTER TABLE [catalog].[favorite_products]  WITH NOCHECK ADD  CONSTRAINT [FK_favorite_products_products_product_id] FOREIGN KEY([product_id])
REFERENCES [catalog].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [catalog].[favorite_products] CHECK CONSTRAINT [FK_favorite_products_products_product_id]
GO
ALTER TABLE [catalog].[favorite_products]  WITH NOCHECK ADD  CONSTRAINT [FK_favorite_products_users_user_id] FOREIGN KEY([user_id])
REFERENCES [auth].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [catalog].[favorite_products] CHECK CONSTRAINT [FK_favorite_products_users_user_id]
GO
ALTER TABLE [catalog].[product_attributes]  WITH NOCHECK ADD  CONSTRAINT [FK_product_attributes_products] FOREIGN KEY([product_id])
REFERENCES [catalog].[products] ([id])
GO
ALTER TABLE [catalog].[product_attributes] CHECK CONSTRAINT [FK_product_attributes_products]
GO
ALTER TABLE [catalog].[product_images]  WITH NOCHECK ADD  CONSTRAINT [FK_product_images_products] FOREIGN KEY([product_id])
REFERENCES [catalog].[products] ([id])
GO
ALTER TABLE [catalog].[product_images] CHECK CONSTRAINT [FK_product_images_products]
GO
ALTER TABLE [catalog].[product_reviews]  WITH NOCHECK ADD  CONSTRAINT [FK_product_reviews_bill_details_bill_detail_id] FOREIGN KEY([bill_detail_id])
REFERENCES [orders].[bill_details] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [catalog].[product_reviews] CHECK CONSTRAINT [FK_product_reviews_bill_details_bill_detail_id]
GO
ALTER TABLE [catalog].[product_reviews]  WITH NOCHECK ADD  CONSTRAINT [FK_product_reviews_products_product_id] FOREIGN KEY([product_id])
REFERENCES [catalog].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [catalog].[product_reviews] CHECK CONSTRAINT [FK_product_reviews_products_product_id]
GO
ALTER TABLE [catalog].[product_reviews]  WITH NOCHECK ADD  CONSTRAINT [FK_product_reviews_users_user_id] FOREIGN KEY([user_id])
REFERENCES [auth].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [catalog].[product_reviews] CHECK CONSTRAINT [FK_product_reviews_users_user_id]
GO
ALTER TABLE [catalog].[product_specifications]  WITH NOCHECK ADD  CONSTRAINT [FK_product_specifications_products_product_id] FOREIGN KEY([product_id])
REFERENCES [catalog].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [catalog].[product_specifications] CHECK CONSTRAINT [FK_product_specifications_products_product_id]
GO
ALTER TABLE [catalog].[product_specifications]  WITH NOCHECK ADD  CONSTRAINT [FK_product_specifications_specification_attributes_specification_attribute_id] FOREIGN KEY([specification_attribute_id])
REFERENCES [catalog].[specification_attributes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [catalog].[product_specifications] CHECK CONSTRAINT [FK_product_specifications_specification_attributes_specification_attribute_id]
GO
ALTER TABLE [catalog].[product_tags]  WITH NOCHECK ADD  CONSTRAINT [FK_product_tags_products] FOREIGN KEY([product_id])
REFERENCES [catalog].[products] ([id])
GO
ALTER TABLE [catalog].[product_tags] CHECK CONSTRAINT [FK_product_tags_products]
GO
ALTER TABLE [catalog].[product_tags]  WITH NOCHECK ADD  CONSTRAINT [FK_product_tags_tags] FOREIGN KEY([tag_id])
REFERENCES [catalog].[tags] ([id])
GO
ALTER TABLE [catalog].[product_tags] CHECK CONSTRAINT [FK_product_tags_tags]
GO
ALTER TABLE [catalog].[product_types]  WITH NOCHECK ADD  CONSTRAINT [FK_product_types_parent] FOREIGN KEY([parent_id])
REFERENCES [catalog].[product_types] ([id])
GO
ALTER TABLE [catalog].[product_types] CHECK CONSTRAINT [FK_product_types_parent]
GO
ALTER TABLE [catalog].[product_variants]  WITH NOCHECK ADD  CONSTRAINT [FK_product_variants_products] FOREIGN KEY([product_id])
REFERENCES [catalog].[products] ([id])
GO
ALTER TABLE [catalog].[product_variants] CHECK CONSTRAINT [FK_product_variants_products]
GO
ALTER TABLE [catalog].[products]  WITH NOCHECK ADD  CONSTRAINT [FK_products_collections] FOREIGN KEY([collection_id])
REFERENCES [catalog].[collections] ([id])
GO
ALTER TABLE [catalog].[products] CHECK CONSTRAINT [FK_products_collections]
GO
ALTER TABLE [catalog].[products]  WITH NOCHECK ADD  CONSTRAINT [FK_products_manufacturers_manufacturer_id] FOREIGN KEY([manufacturer_id])
REFERENCES [catalog].[manufacturers] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [catalog].[products] CHECK CONSTRAINT [FK_products_manufacturers_manufacturer_id]
GO
ALTER TABLE [catalog].[products]  WITH NOCHECK ADD  CONSTRAINT [FK_products_product_types] FOREIGN KEY([product_type_id])
REFERENCES [catalog].[product_types] ([id])
GO
ALTER TABLE [catalog].[products] CHECK CONSTRAINT [FK_products_product_types]
GO
ALTER TABLE [catalog].[products]  WITH NOCHECK ADD  CONSTRAINT [FK_products_suppliers] FOREIGN KEY([supplier_id])
REFERENCES [catalog].[suppliers] ([id])
GO
ALTER TABLE [catalog].[products] CHECK CONSTRAINT [FK_products_suppliers]
GO
ALTER TABLE [operations].[inventory_transactions]  WITH NOCHECK ADD  CONSTRAINT [FK_inv_transactions_pv] FOREIGN KEY([product_variant_id])
REFERENCES [catalog].[product_variants] ([id])
GO
ALTER TABLE [operations].[inventory_transactions] CHECK CONSTRAINT [FK_inv_transactions_pv]
GO
ALTER TABLE [operations].[inventory_transactions]  WITH NOCHECK ADD  CONSTRAINT [FK_inv_transactions_users] FOREIGN KEY([created_by])
REFERENCES [auth].[users] ([id])
GO
ALTER TABLE [operations].[inventory_transactions] CHECK CONSTRAINT [FK_inv_transactions_users]
GO
ALTER TABLE [operations].[notifications]  WITH NOCHECK ADD  CONSTRAINT [FK_notifications_users] FOREIGN KEY([user_id])
REFERENCES [auth].[users] ([id])
GO
ALTER TABLE [operations].[notifications] CHECK CONSTRAINT [FK_notifications_users]
GO
ALTER TABLE [operations].[wishlists]  WITH NOCHECK ADD  CONSTRAINT [FK_wishlists_products] FOREIGN KEY([product_id])
REFERENCES [catalog].[products] ([id])
GO
ALTER TABLE [operations].[wishlists] CHECK CONSTRAINT [FK_wishlists_products]
GO
ALTER TABLE [operations].[wishlists]  WITH NOCHECK ADD  CONSTRAINT [FK_wishlists_users] FOREIGN KEY([user_id])
REFERENCES [auth].[users] ([id])
GO
ALTER TABLE [operations].[wishlists] CHECK CONSTRAINT [FK_wishlists_users]
GO
ALTER TABLE [orders].[bill_details]  WITH NOCHECK ADD  CONSTRAINT [FK_bill_details_bills] FOREIGN KEY([bill_id])
REFERENCES [orders].[bills] ([id])
GO
ALTER TABLE [orders].[bill_details] CHECK CONSTRAINT [FK_bill_details_bills]
GO
ALTER TABLE [orders].[bill_details]  WITH NOCHECK ADD  CONSTRAINT [FK_bill_details_pv] FOREIGN KEY([product_variant_id])
REFERENCES [catalog].[product_variants] ([id])
GO
ALTER TABLE [orders].[bill_details] CHECK CONSTRAINT [FK_bill_details_pv]
GO
ALTER TABLE [orders].[bills]  WITH NOCHECK ADD  CONSTRAINT [FK_bills_users] FOREIGN KEY([user_id])
REFERENCES [auth].[users] ([id])
GO
ALTER TABLE [orders].[bills] CHECK CONSTRAINT [FK_bills_users]
GO
ALTER TABLE [orders].[cart_items]  WITH NOCHECK ADD  CONSTRAINT [FK_cart_items_carts] FOREIGN KEY([cart_id])
REFERENCES [orders].[carts] ([id])
GO
ALTER TABLE [orders].[cart_items] CHECK CONSTRAINT [FK_cart_items_carts]
GO
ALTER TABLE [orders].[cart_items]  WITH NOCHECK ADD  CONSTRAINT [FK_cart_items_product_variants] FOREIGN KEY([product_variant_id])
REFERENCES [catalog].[product_variants] ([id])
GO
ALTER TABLE [orders].[cart_items] CHECK CONSTRAINT [FK_cart_items_product_variants]
GO
ALTER TABLE [orders].[carts]  WITH NOCHECK ADD  CONSTRAINT [FK_carts_users] FOREIGN KEY([user_id])
REFERENCES [auth].[users] ([id])
GO
ALTER TABLE [orders].[carts] CHECK CONSTRAINT [FK_carts_users]
GO
ALTER TABLE [orders].[order_status_logs]  WITH NOCHECK ADD  CONSTRAINT [FK_order_status_logs_bills] FOREIGN KEY([bill_id])
REFERENCES [orders].[bills] ([id])
GO
ALTER TABLE [orders].[order_status_logs] CHECK CONSTRAINT [FK_order_status_logs_bills]
GO
ALTER TABLE [orders].[order_status_logs]  WITH NOCHECK ADD  CONSTRAINT [FK_order_status_logs_users] FOREIGN KEY([created_by])
REFERENCES [auth].[users] ([id])
GO
ALTER TABLE [orders].[order_status_logs] CHECK CONSTRAINT [FK_order_status_logs_users]
GO
ALTER TABLE [payment].[payment_transactions]  WITH NOCHECK ADD  CONSTRAINT [FK_payment_transactions_bills] FOREIGN KEY([bill_id])
REFERENCES [orders].[bills] ([id])
GO
ALTER TABLE [payment].[payment_transactions] CHECK CONSTRAINT [FK_payment_transactions_bills]
GO
ALTER TABLE [payment].[shipments]  WITH NOCHECK ADD  CONSTRAINT [FK_shipments_bills] FOREIGN KEY([bill_id])
REFERENCES [orders].[bills] ([id])
GO
ALTER TABLE [payment].[shipments] CHECK CONSTRAINT [FK_shipments_bills]
GO
ALTER TABLE [promotions].[coupon_usages]  WITH NOCHECK ADD  CONSTRAINT [FK_coupon_usages_bills] FOREIGN KEY([bill_id])
REFERENCES [orders].[bills] ([id])
GO
ALTER TABLE [promotions].[coupon_usages] CHECK CONSTRAINT [FK_coupon_usages_bills]
GO
ALTER TABLE [promotions].[coupon_usages]  WITH NOCHECK ADD  CONSTRAINT [FK_coupon_usages_coupons] FOREIGN KEY([coupon_id])
REFERENCES [promotions].[coupons] ([id])
GO
ALTER TABLE [promotions].[coupon_usages] CHECK CONSTRAINT [FK_coupon_usages_coupons]
GO
ALTER TABLE [promotions].[coupon_usages]  WITH NOCHECK ADD  CONSTRAINT [FK_coupon_usages_users] FOREIGN KEY([user_id])
REFERENCES [auth].[users] ([id])
GO
ALTER TABLE [promotions].[coupon_usages] CHECK CONSTRAINT [FK_coupon_usages_users]
GO
ALTER TABLE [promotions].[flash_sale_items]  WITH NOCHECK ADD  CONSTRAINT [FK_fsi_flash_sales] FOREIGN KEY([flash_sale_id])
REFERENCES [promotions].[flash_sales] ([id])
GO
ALTER TABLE [promotions].[flash_sale_items] CHECK CONSTRAINT [FK_fsi_flash_sales]
GO
ALTER TABLE [promotions].[flash_sale_items]  WITH NOCHECK ADD  CONSTRAINT [FK_fsi_product_variants] FOREIGN KEY([product_variant_id])
REFERENCES [catalog].[product_variants] ([id])
GO
ALTER TABLE [promotions].[flash_sale_items] CHECK CONSTRAINT [FK_fsi_product_variants]
GO
ALTER TABLE [reviews].[review_images]  WITH NOCHECK ADD  CONSTRAINT [FK_review_images_reviews] FOREIGN KEY([review_id])
REFERENCES [reviews].[reviews] ([id])
GO
ALTER TABLE [reviews].[review_images] CHECK CONSTRAINT [FK_review_images_reviews]
GO
ALTER TABLE [reviews].[review_replies]  WITH NOCHECK ADD  CONSTRAINT [FK_review_replies_reviews] FOREIGN KEY([review_id])
REFERENCES [reviews].[reviews] ([id])
GO
ALTER TABLE [reviews].[review_replies] CHECK CONSTRAINT [FK_review_replies_reviews]
GO
ALTER TABLE [reviews].[review_replies]  WITH NOCHECK ADD  CONSTRAINT [FK_review_replies_users] FOREIGN KEY([admin_id])
REFERENCES [auth].[users] ([id])
GO
ALTER TABLE [reviews].[review_replies] CHECK CONSTRAINT [FK_review_replies_users]
GO
ALTER TABLE [reviews].[reviews]  WITH NOCHECK ADD  CONSTRAINT [FK_reviews_bill_details] FOREIGN KEY([bill_detail_id])
REFERENCES [orders].[bill_details] ([id])
GO
ALTER TABLE [reviews].[reviews] CHECK CONSTRAINT [FK_reviews_bill_details]
GO
ALTER TABLE [reviews].[reviews]  WITH NOCHECK ADD  CONSTRAINT [FK_reviews_products] FOREIGN KEY([product_id])
REFERENCES [catalog].[products] ([id])
GO
ALTER TABLE [reviews].[reviews] CHECK CONSTRAINT [FK_reviews_products]
GO
ALTER TABLE [reviews].[reviews]  WITH NOCHECK ADD  CONSTRAINT [FK_reviews_users] FOREIGN KEY([user_id])
REFERENCES [auth].[users] ([id])
GO
ALTER TABLE [reviews].[reviews] CHECK CONSTRAINT [FK_reviews_users]
GO
ALTER TABLE [sales].[checkout_attribute_values]  WITH NOCHECK ADD  CONSTRAINT [FK_checkout_attribute_values_checkout_attributes_checkout_attribute_id] FOREIGN KEY([checkout_attribute_id])
REFERENCES [sales].[checkout_attributes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [sales].[checkout_attribute_values] CHECK CONSTRAINT [FK_checkout_attribute_values_checkout_attributes_checkout_attribute_id]
GO
ALTER TABLE [auth].[users]  WITH NOCHECK ADD  CONSTRAINT [CK_users_role] CHECK  (([role]='admin' OR [role]='staff' OR [role]='customer'))
GO
ALTER TABLE [auth].[users] CHECK CONSTRAINT [CK_users_role]
GO
ALTER TABLE [auth].[users]  WITH NOCHECK ADD  CONSTRAINT [CK_users_status] CHECK  (([status]='unverified' OR [status]='banned' OR [status]='active'))
GO
ALTER TABLE [auth].[users] CHECK CONSTRAINT [CK_users_status]
GO
ALTER TABLE [catalog].[product_reviews]  WITH NOCHECK ADD  CONSTRAINT [CK_product_reviews_rating] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [catalog].[product_reviews] CHECK CONSTRAINT [CK_product_reviews_rating]
GO
ALTER TABLE [catalog].[product_variants]  WITH NOCHECK ADD  CONSTRAINT [CK_product_variants_price] CHECK  (([price]>=(0)))
GO
ALTER TABLE [catalog].[product_variants] CHECK CONSTRAINT [CK_product_variants_price]
GO
ALTER TABLE [catalog].[product_variants]  WITH NOCHECK ADD  CONSTRAINT [CK_product_variants_stock] CHECK  (([stock_quantity]>=(0)))
GO
ALTER TABLE [catalog].[product_variants] CHECK CONSTRAINT [CK_product_variants_stock]
GO
ALTER TABLE [catalog].[suppliers]  WITH NOCHECK ADD  CONSTRAINT [CK_suppliers_status] CHECK  (([status]='inactive' OR [status]='active'))
GO
ALTER TABLE [catalog].[suppliers] CHECK CONSTRAINT [CK_suppliers_status]
GO
ALTER TABLE [operations].[inventory_transactions]  WITH NOCHECK ADD  CONSTRAINT [CK_inventory_transactions_type] CHECK  (([type]='return' OR [type]='adjustment' OR [type]='export' OR [type]='import'))
GO
ALTER TABLE [operations].[inventory_transactions] CHECK CONSTRAINT [CK_inventory_transactions_type]
GO
ALTER TABLE [orders].[bill_details]  WITH NOCHECK ADD  CONSTRAINT [CK_bill_details_qty] CHECK  (([quantity]>=(1)))
GO
ALTER TABLE [orders].[bill_details] CHECK CONSTRAINT [CK_bill_details_qty]
GO
ALTER TABLE [orders].[bills]  WITH NOCHECK ADD  CONSTRAINT [CK_bills_order_status] CHECK  (([order_status]='cancelled' OR [order_status]='delivered' OR [order_status]='shipping' OR [order_status]='confirmed' OR [order_status]='pending'))
GO
ALTER TABLE [orders].[bills] CHECK CONSTRAINT [CK_bills_order_status]
GO
ALTER TABLE [orders].[bills]  WITH NOCHECK ADD  CONSTRAINT [CK_bills_payment_method] CHECK  (([payment_method]='bank_transfer' OR [payment_method]='momo' OR [payment_method]='vnpay' OR [payment_method]='cod'))
GO
ALTER TABLE [orders].[bills] CHECK CONSTRAINT [CK_bills_payment_method]
GO
ALTER TABLE [orders].[bills]  WITH NOCHECK ADD  CONSTRAINT [CK_bills_payment_status] CHECK  (([payment_status]='refunded' OR [payment_status]='paid' OR [payment_status]='pending'))
GO
ALTER TABLE [orders].[bills] CHECK CONSTRAINT [CK_bills_payment_status]
GO
ALTER TABLE [orders].[bills]  WITH NOCHECK ADD  CONSTRAINT [CK_bills_total_amount] CHECK  (([total_amount]>=(0)))
GO
ALTER TABLE [orders].[bills] CHECK CONSTRAINT [CK_bills_total_amount]
GO
ALTER TABLE [orders].[cart_items]  WITH NOCHECK ADD  CONSTRAINT [CK_cart_items_qty] CHECK  (([quantity]>=(1)))
GO
ALTER TABLE [orders].[cart_items] CHECK CONSTRAINT [CK_cart_items_qty]
GO
ALTER TABLE [payment].[payment_transactions]  WITH NOCHECK ADD  CONSTRAINT [CK_payment_transactions_status] CHECK  (([status]='refunded' OR [status]='failed' OR [status]='success' OR [status]='pending'))
GO
ALTER TABLE [payment].[payment_transactions] CHECK CONSTRAINT [CK_payment_transactions_status]
GO
ALTER TABLE [promotions].[coupons]  WITH NOCHECK ADD  CONSTRAINT [CK_coupons_dates] CHECK  (([end_date]>[start_date]))
GO
ALTER TABLE [promotions].[coupons] CHECK CONSTRAINT [CK_coupons_dates]
GO
ALTER TABLE [promotions].[coupons]  WITH NOCHECK ADD  CONSTRAINT [CK_coupons_type] CHECK  (([type]='free_ship' OR [type]='fixed' OR [type]='percent'))
GO
ALTER TABLE [promotions].[coupons] CHECK CONSTRAINT [CK_coupons_type]
GO
ALTER TABLE [promotions].[coupons]  WITH NOCHECK ADD  CONSTRAINT [CK_coupons_value] CHECK  (([value]>=(0)))
GO
ALTER TABLE [promotions].[coupons] CHECK CONSTRAINT [CK_coupons_value]
GO
ALTER TABLE [promotions].[flash_sale_items]  WITH NOCHECK ADD  CONSTRAINT [CK_fsi_sale_price] CHECK  (([sale_price]>=(0)))
GO
ALTER TABLE [promotions].[flash_sale_items] CHECK CONSTRAINT [CK_fsi_sale_price]
GO
ALTER TABLE [promotions].[flash_sales]  WITH NOCHECK ADD  CONSTRAINT [CK_flash_sales_time] CHECK  (([end_time]>[start_time]))
GO
ALTER TABLE [promotions].[flash_sales] CHECK CONSTRAINT [CK_flash_sales_time]
GO
ALTER TABLE [reviews].[reviews]  WITH NOCHECK ADD  CONSTRAINT [CK_reviews_rating] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [reviews].[reviews] CHECK CONSTRAINT [CK_reviews_rating]
GO
ALTER TABLE [reviews].[reviews]  WITH NOCHECK ADD  CONSTRAINT [CK_reviews_status] CHECK  (([status]='rejected' OR [status]='approved' OR [status]='pending'))
GO
ALTER TABLE [reviews].[reviews] CHECK CONSTRAINT [CK_reviews_status]
GO
/****** Object:  StoredProcedure [operations].[sp_RevenueReport]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_4: Thống kê doanh thu theo khoảng thời gian
CREATE   PROCEDURE [operations].[sp_RevenueReport]
    @date_from  DATE,
    @date_to    DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        CAST(b.created_at AS DATE)      AS order_date,
        COUNT(b.id)                     AS total_orders,
        SUM(b.total_amount)             AS total_revenue,
        AVG(b.total_amount)             AS avg_order_value,
        SUM(b.discount_amount)          AS total_discounts,
        SUM(b.shipping_fee)             AS total_shipping_fee
    FROM orders.bills b
    WHERE b.order_status    = 'delivered'
      AND CAST(b.created_at AS DATE) BETWEEN @date_from AND @date_to
    GROUP BY CAST(b.created_at AS DATE)
    ORDER BY order_date DESC;
END;

GO
/****** Object:  StoredProcedure [orders].[sp_CancelOrder]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_2: Huỷ đơn hàng — hoàn tồn kho, cập nhật trạng thái
CREATE   PROCEDURE [orders].[sp_CancelOrder]
    @bill_id            BIGINT,
    @cancelled_by       BIGINT,
    @cancelled_reason   NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Kiểm tra trạng thái đơn
        DECLARE @current_status NVARCHAR(20);
        SELECT @current_status = order_status FROM orders.bills WHERE id = @bill_id;

        IF @current_status IS NULL
            RAISERROR(N'Đơn hàng không tồn tại.', 16, 1);

        IF @current_status IN ('delivered', 'cancelled')
            RAISERROR(N'Không thể huỷ đơn hàng ở trạng thái hiện tại.', 16, 1);

        -- Cập nhật trạng thái bill
        UPDATE orders.bills
        SET order_status     = 'cancelled',
            cancelled_reason = @cancelled_reason
        WHERE id = @bill_id;

        -- Ghi log trạng thái
        INSERT INTO orders.order_status_logs (bill_id, from_status, to_status, note, created_by)
        VALUES (@bill_id, @current_status, 'cancelled', @cancelled_reason, @cancelled_by);

        -- Hoàn tồn kho (trigger sẽ ghi inventory_transactions tự động)
        UPDATE pv
        SET pv.stock_quantity = pv.stock_quantity + bd.quantity
        FROM catalog.product_variants pv
        INNER JOIN orders.bill_details bd ON pv.id = bd.product_variant_id
        WHERE bd.bill_id = @bill_id;

        -- Giảm sold_count
        UPDATE p
        SET p.sold_count = p.sold_count - bd.quantity
        FROM catalog.products p
        INNER JOIN catalog.product_variants pv ON p.id = pv.product_id
        INNER JOIN orders.bill_details bd      ON pv.id = bd.product_variant_id
        WHERE bd.bill_id = @bill_id AND p.sold_count >= bd.quantity;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [reviews].[sp_ModerateReview]    Script Date: 18-Jun-26 3:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_3: Duyệt / từ chối nhận xét
CREATE   PROCEDURE [reviews].[sp_ModerateReview]
    @review_id  BIGINT,
    @action     NVARCHAR(10),   -- 'approve' hoặc 'reject'
    @admin_id   BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    IF @action NOT IN ('approve', 'reject')
        RAISERROR(N'Action phải là "approve" hoặc "reject".', 16, 1);

    UPDATE reviews.reviews
    SET status = CASE WHEN @action = 'approve' THEN 'approved' ELSE 'rejected' END
    WHERE id = @review_id AND status = 'pending';

    IF @@ROWCOUNT = 0
        RAISERROR(N'Review không tồn tại hoặc đã được xử lý rồi.', 16, 1);

    -- Ghi audit log
    INSERT INTO auth.admin_logs (admin_id, action, target_table, target_id, new_value)
    VALUES (@admin_id, UPPER(@action) + '_REVIEW', 'reviews.reviews', @review_id,
            N'{"status":"' + CASE WHEN @action = 'approve' THEN 'approved' ELSE 'rejected' END + N'"}');
END;

GO
USE [master]
GO
